
.mainFxmlClass {
    -fx-background-color: linear-gradient(to bottom, #1b5e20, #66bb6a);
}

* {
    -fx-font-family: "Open Sans";
}
#hci{
    -fx-spacing: 2px;          
    -fx-alignment: center-left;
}
Button {
    -fx-background-color: #2e7d32;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 2);
}

Button:hover {
    -fx-background-color: #1b5e20;
}

Button:pressed {
    -fx-background-color: #0d3d14;
}


/* Estilo de los Labels */
Label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-family: "Verdana";
}

/* Estilo del TextField */
TextField {
    -fx-pref-width: 150px;
    -fx-padding: 6px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: #c8e6c9;
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-text-fill: white;
}

TextField:focused {
    -fx-border-color: #66bb6a;
    -fx-background-color: rgba(255, 255, 255, 0.3);
}

TableView {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
     -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

/* Estilo de las columnas de la TableView */
.table-column {
    -fx-alignment: CENTER;
    -fx-font-size: 14px;
    -fx-background-color: #388e3c;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 5px;
}

/* Fondo del encabezado de las columnas con bordes redondeados */
.table-view .column-header-background {
    -fx-background-color: #388e3c;
    -fx-background-radius: 15px 15px 0 0;
}
.table-view .table-cell {
    -fx-font-size: 16px;    
    -fx-text-fill: white;   
}


/* Texto del encabezado */
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.table-cell {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

.table-view .column-header,
.table-column {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

#txttitle{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff; 
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-family: "Verdana";
}

#VboxBtnUsers{
    -fx-alignment: center;
    -fx-spacing: 35px;
}

#RegisterUser{
    -fx-vgap: 30px;
}