/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: linear-gradient(to bottom, #1b5e20, #66bb6a);
}

/* Fuente global para todo el proyecto */
* {
    -fx-font-family: "Open Sans";
}

/* Estilo de los botones */
Button {
    -fx-background-color: #2e7d32;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 2);
}

Button:hover {
    -fx-background-color: #1b5e20;
}

Button:pressed {
    -fx-background-color: #0d3d14;
}

/* Estilo del GridPane */
GridPane {
    -fx-padding: 20px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

TableView {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
     -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}

/* Estilo de las columnas de la TableView */
.table-column {
    -fx-alignment: CENTER;
    -fx-font-size: 14px;
    -fx-background-color: #388e3c;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 5px;
}

/* Fondo del encabezado de las columnas con bordes redondeados */
.table-view .column-header-background {
    -fx-background-color: #388e3c;
    -fx-background-radius: 15px 15px 0 0;
}
.table-view .table-cell {
    -fx-font-size: 16px;    
    -fx-text-fill: white;   
}


/* Texto del encabezado */
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.table-cell {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

.table-view .column-header,
.table-column {
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}
